# Скопируй в .env и заполни.

POSTGRES_ORDERS_DB=orders_db
POSTGRES_ORDERS_USER=orders_user
POSTGRES_ORDERS_PASSWORD=

POSTGRES_PAYMENTS_DB=payments_db
POSTGRES_PAYMENTS_USER=payments_user
POSTGRES_PAYMENTS_PASSWORD=

KAFKA_BOOTSTRAP_SERVERS=kafka:9092
REDIS_HOST=redis
REDIS_PORT=6379

JWT_SECRET=
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=30d

GRAFANA_ADMIN_PASSWORD=
